* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
}

/* TOPBAR */

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202020;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-box input {
  width: 400px;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  background: #181818;
  height: 100%;
  padding: 15px;
}

.sidebar div {
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar div:hover {
  background: #333;
}

/* MAIN AREA */

.main {
  margin-left: 220px;
  padding: 80px 20px 20px;
}

/* PLAYER */

.player video {
  width: 100%;
  max-height: 500px;
  background: black;
  border-radius: 10px;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
  margin-top: 25px;
}

.card {
  background: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 100%;
}

.card h4 {
  padding: 10px;
  font-size: 15px;
}